button{
    width: 800px;
    height: 40px;
    color:aliceblue;
    background-color: rgb(25, 125, 184);
}
.container {
    max-width: 200px;
    margin: auto;
  }
  
  .svg-circle:hover + .svg-text-group {
    opacity: 0;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
